<h3>
  <i class="fa fa-angle-right"></i>
  Detalle de convocatoria
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <div class="form-horizontal">
          <form class="style-form" role="form" {{action "save" on="submit"}} onkeydown="Bursa.keydownFormHandler('controller:usuarios.new', 'save');">
            <div class="form-group">
              <div class="col-lg-6"  {{bind-attr class="errors.nombre:has-error errors.nombre:has-feedback"}}>
                <label class="form-label"  for="nombre">Nombre</label>
                {{focus-input  type="text" value=nombre class="form-control" placeholder="Nombre" autofocus="autofocus"}}
                <span class="help-block">{{error errors.nombre}}</span>
                {{#if errors.nombre}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
              <div class="col-lg-6" {{bind-attr class="errors.apellido:has-error errors.apellido:has-feedback"}}>
                <label class="form-label"  for="apellido">Apellido</label>
                {{input type="text" value=apellido class="form-control" placeholder="Apellido"}}
                <span class="help-block">{{error errors.apellido}}</span>
                {{#if errors.apellido}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
            <div class="form-group">
              <div {{bind-attr class="nuevoUsuario:col-lg-6 id:col-lg-5 errors.username:has-error errors.username:has-feedback"}}>
                <label class="form-label" for="username">Nombre de usuario</label>
                {{input type="text" value=username class="form-control" placeholder="Nombre de Usuario. Ej: jPerez" }}
                 <span class="help-block">{{error errors.username}}</span>
                {{#if errors.username}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
              {{#if id}}
                <div class="col-lg-2">
                  <label for="changePass">Cambiar Password</label>
                  {{input type="checkbox" checked=changePass class="checkbox"}}
                </div>
              {{/if}}
              <div {{bind-attr class="nuevoUsuario:col-lg-6 id:col-lg-5 errors.email:has-error errors.email:has-feedback"}}>
                <label class="form-label"  for="email">Correo Electr&oacute;nico</label>
                {{input type="text" value=email class="form-control" placeholder="Correo Electrónico"}}
                <span class="help-block">{{error errors.email}}</span>
                {{#if errors.email}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
            {{#if changePass}}
            <div class="form-group">
              <div class="col-lg-6"  {{bind-attr class="errors.password:has-error errors.password:has-feedback"}}>
                <label class="form-label" for="password">Contraseña</label>
                 {{input type="password" value=password class="form-control" placeholder="Contraseña"}}
                 <span class="help-block">{{error errors.password}}</span>
                {{#if errors.password}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
              <div class="col-lg-6" {{bind-attr class="errors.password_confirmation:has-error errors.password_confirmation:has-feedback"}}>
                <label class="form-label" for="password_confirmation">Confirmar contraseña</label>
                 {{input type="password" value=password_confirmation class="form-control" placeholder="Confirmar Contraseña"}}
                 <span class="help-block">{{error errors.password_confirmation}}</span>
                {{#if errors.password_confirmation}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
            {{/if}}
            
            
            <div class="form-group">
              <div class="col-lg-12" {{bind-attr class="errors.roles:has-error errors.roles:has-feedback"}}>
                <label class="form-label"  for="roles">Roles</label>
                {{view Bursa.views.TagWidgetView 
                       service='roles'
                       modelType='rol'
                       modelID='id'
                       itemText='descripcion' 
                       itemValue='id'
                       queryScope='by_descripcion'
                       session=session
                       datasource=roles
                       jsonRoot='roles'}}
                {{#if errors.roles}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>
						{{!-- <div class="form-group">
              <div class="col-lg-12" {{bind-attr class="errors.sucursales:has-error errors.sucursales:has-feedback"}}>
                <label class="form-label"  for="sucursales">Sucursales</label>
                {{view Bursa.views.TagWidgetView 
                       service='sucursales' 
                       modelType='sucursal'
                       modelID='id'
                       itemText='descripcion' 
                       itemValue='id'
                       queryScope='by_descripcion'
                       session=session
                       datasource=sucursales
                       jsonRoot='sucursales'}}
                {{#if errors.sucursales}}
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                {{/if}}
              </div>
            </div>--}}
            <div class="form-group">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-theme">Guardar</button>
                <button {{action 'cancel'}} class="btn btn-default">Cancelar</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
